<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
    <div class="footer-container">
        
        <div class="footer-left">
            <h3>QuizApp</h3>
            <p>Learn, Practice & Improve your skills.</p>
        </div>

        <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
                
               
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <div class="footer-contact">
            <h4>Contact</h4>
            <p>Email: admin@gmail.com</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 QuizApp | All Rights Reserved</p>
    </div>
</footer>
    

    
</body>
</html>