<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Navbar</title>
</head>
<body>
     <header class="header">

    <div class="logo">
        <h1>QuizKaro</h1>
    </div>

    <nav class="nav">
        <ul>
            <li><a href="/login">Quiz</a></li>
           
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="auth">
        <a id="login" href="/login">Login</a>
        <a href="/register" class="btn">Register</a>
    </div>
</header>
    
</body>
</html>