<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizKaro</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
   <%- include('partials/navbar') %>

    <main>
        <div class="main-content">


    <section class="hero">
        <h1>Welcome to QuizKaro 🚀</h1>
        <p>Learn concepts, practice quizzes, and boost your skills.</p>
        <br><br>
        <a href="/login" class="btn">Start Quiz</a>
    </section>

</div>
    </main>

 

      <%- include('partials/footer') %>
    
</body>
</html>