<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>

      <header class="header">

    <div class="logo">
        <h1>QuizKaro</h1>
    </div>

    <nav class="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    </header>
   
<div class="container">
    <form class="form-box" action="/register" method="POST">
        <h2>Register</h2>

       <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br><br>
       
        <button type="submit">Register</button>

        <p>Already have an account? 
            <a href="/login">Login</a>
        </p>
    </form>
</div>

 <footer class="footer">
    <div class="footer-container">
        
        <div class="footer-left">
            <h3>QuizApp</h3>
            <p>Learn, Practice & Improve your skills.</p>
        </div>

        <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
                
                <li><a href="/videos">Lectures</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <div class="footer-contact">
            <h4>Contact</h4>
            <p>Email: admin@gmail.com</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 QuizApp | All Rights Reserved</p>
    </div>
</footer>


</body>
</html>