* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
}

.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-box button:hover {
    background: #5a67d8;
}

.form-box p {
    margin-top: 15px;
}

.form-box a {
    color: #667eea;
    text-decoration: none;
    font-weight: bold;
}

.success {
  color: green;
  background: #d4edda;
  padding: 10px;
  border-radius: 5px;
}



.flash-msg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 8px;
  z-index: 1000;
}

/* ✅ Success */
.flash-success {
  background: #d4edda;
  color: #155724;
}

/* ❌ Error */
.flash-error {
  background: #f8d7da;
  color: #721c24;
}


/* HEADER */

/* HEADER */
.header {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;    

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(to right, #8faed6, #a9c6d8);
}


/* LOGO */
.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* NAV CENTER */
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.nav ul li a:hover {
    text-decoration: underline;
}



/* FOOTER */
.footer {
    background-color: #222;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    flex-wrap: wrap;
}

.footer-left h3 {
    color: #00bcd4;
}

.footer h4 {
    color: #00bcd4;
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
}

/* LINKS */
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

.footer-links ul li a:hover {
    color: #00bcd4;
}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #111;
}

